.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-36 {
  font-size: 36px;
}

.prompt-dl-parent {
  position: relative;
}

.prompt-dl-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(176, 224, 230, 0.4);
  cursor: pointer;
}
.prompt-dl-button:hover {
  background-color: rgba(176, 224, 230, 0.8);
}
